textarea {
    min-height: 400px;
    white-space: pre-wrap;
}

.mailbox {
    min-height: 100px;
    text-align: left;
    max-width: 100%;
    vertical-align: middle;
}

.read {
    background-color: lightgray;
}
.unread{
    background-color: whitesmoke;
}

.archiveButton{
    min-height: 100px;
    min-width: 100px;
    max-height: 100px;
    max-width: 100px;
    background-color: lightgray;
    border: none;
    border-radius: 0px
}

.replyButton{
    background-color: lightgray;
    border: none;
    border-radius: 0px
}

.row{
    margin: auto;
    width: 100%;
    padding: 10px;
}

h3{
    text-align: center;
}

.header{
    text-align:center;
}

.mail{
    min-height: 400px;
}