{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'createListings' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="title" placeholder="title">
        </div>
        <div class="form-group">
            <input class="form-control" type="number" name="price" placeholder="0">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="description" placeholder="description">
        </div>
        <div class="form-group">
            <input class="form-control" type="image" name="image">
        </div>
        <input class="btn btn-primary" type="submit" value="Create Listings">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}