{% extends "network/layout.html" %}

{% block body %}


    <!-- New Post is visible when visiting your own profile or when you're on the All Posts pages -->
    {% if user.is_authenticated and frontpage %}
        {% include 'network/newpost.html' %}
        <h2 id="message"> These are the posts of all the people.</h2>
    {% else %}
    <h2 id="message"> These are the posts of the people you follow.</h2>
    {% endif %}

    
    <!-- This is where the summation of posts goes -->
    {% include 'network/posts.html' %}
{% endblock %}