{% extends "network/layout.html" %}

{% block body %}


    <!-- New Post is visible when visiting your own profile or when you're on the All Posts pages -->
    {% if user.is_authenticated %}
        <div id="new-post">
            <h4>New Post</h4>
            <form action="{% url 'make_post' %}" method = "POST">
                {% csrf_token %} 
                <textarea maxlength="140" name = "body"  class="text-area"></textarea>
                <br/>
                <button type="submit">Post</button>
            </form>
        </div>
    {% endif %}

    
    <!-- Post view is where the summation of posts goes -->
    <div id="posts-view">
        {% for post in posts%}
        <div class="col post">
            <a href="{% url 'user' post.poster.id%}"><h3>{{post.poster.username}}</h3></a> <p>

            </p> {{post.body}} </p>
            <p class='timestamp'>{{post.timestamp}} | {{post.like}} LIKES</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}