<div id="posts-view">
    {% for post in posts%}
    <div class="col post">
        <a href="{% url 'user' post.poster.id%}"><h3>{{post.poster.username}}</h3></a> <p>

        </p> {{post.body}} </p>
        <p class='timestamp'>{{post.timestamp}} | {{post.like}} LIKES</p>

        
        {% if post.poster.id == user.id %}
                <button href="{% url 'edit' post.id %}">Edit</button>
        {% else %}
        {% if user.is_authenticated %}
            <button>Like</button>
        {% endif %}
        {% endif %}

    </div>
    <br />
    {% endfor %}
</div>