{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="{% static 'network/styles.css' %}" rel="stylesheet">


<div id="posts-view">
    {% for post in posts%}
    <div class="col post">
        <a href="{% url 'user' post.poster.id%}"><h3>{{post.poster.username}}</h3></a> <p>

        </p> {{post.body}} </p>
        <p class='timestamp'>{{post.timestamp}}</p>

        <p>
        {% if post.poster.id == user.id %}
                <button href="{% url 'edit' post.id %}">Edit</button>
        {% else %}
        {% if user.is_authenticated %}
            
        <div class="p-2 bd-highlight">
            <button id="likebutton{{post.id}}" data-id={{post.id}} onload="set(dataset.id)" onclick="like(dataset.id)">
                {% if post.liked %}
                    unlike
                {% else %}
                    like
                {% endif %}
            </button>
        </div>

        {% endif %}
        
        {% endif %}
        <span id="likecount{{post.id}}">{{post.like}}</span> likes
        </p>

    </div>
    <br />
    {% endfor %}
    <div id="footer">
        {% if posts.has_previous %}
        <a href="?page={{posts.previous_page_number}}">Previous page</a>
        {% endif %}
        {% if posts.has_next %}
        <a href="?page={{posts.next_page_number}}">Next page</a>
        {% endif %}
    </div>
</div>


<script>
    function like(postid) {
        console.log("I like post "+postid)
        fetch("/like/"+postid)
        .then(response => response.json())
        .then(post => {
            console.log(post);
            document.querySelector("#likecount"+postid).innerHTML = post.likes;
            if (post.is_liked === true) {
                document.querySelector("#likebutton"+postid).innerHTML = "unlike"
            } else {
                document.querySelector("#likebutton"+postid).innerHTML = "like"
            }
        });
    };

</script>